<!doctype html>
<html lang="en-US">
  <head>
    <title>Todo App</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <h1>Digital Envelopes</h1>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
