<!doctype html>
<html lang="en-US">
  <head>
    <title>Digital Envelopes Budget</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <h1>Digital Envelopes</h1>
    </header>

    <% if session[:error] %>
      <p><%= session.delete(:error) %></p>
    <% end %>

    <% if session[:success] %>
      <p><%= session.delete(:success) %></p>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
