<form action='' method='post'>
  <dl>
    <dt>
      <label for='category_name'>Enter the name for the new category:</label>
    </dt>
    <dd>
      <input type='text' name='category_name' placeholder='Account name' value='<%= params[:category_name] %>'/>
    </dd>
  </dl>
    <input type='submit' value='Add'>
    <a href='/budget'>Cancel</a>
</form>
